In [ ]:
import pandas as pd
df1=pd.read_csv('/content/random preprocessed dataset.csv', sep=';', usecols=['cleantext','tokens','label'])
#df= pd.read_csv('/content/drive/MyDrive/college/TTTTTTAAAAAAAA/dataset TA/labeled 5000.csv', sep=';', usecols=['cleantext','tokens'])
#df1 = pd.read_csv('/content/drive/MyDrive/college/TTTTTTAAAAAAAA/dataset TA/preprocessed 6142.csv', sep=';', usecols=['cleantext','tokens'])
pos_dict = pd.read_csv('/content/drive/MyDrive/college/TTTTTTAAAAAAAA/dataset TA/positive21.csv', sep=';', usecols=['stemdict','weight'])
neg_dict = pd.read_csv('/content/drive/MyDrive/college/TTTTTTAAAAAAAA/dataset TA/negative21.csv', sep=';', usecols=['stemdict','weight'])
new_dict = pd.read_csv('/content/drive/MyDrive/college/TTTTTTAAAAAAAA/dataset TA/unlisted_terms.csv', sep=';')

In [ ]:
df1.head()

,label,tokens,cleantext
0,-1,"['lagu', 'bosan', 'save', 'huhuhuhuhuhuhuhuhuh...",lagu bosan save huhuhuhuhuhuhuhuhuhuuuuuuuuuuuuuu
1,-1,"['diam', 'kau', 'erti', 'saman', 'libat', 'hati']",diam kau erti saman libat hati
2,1,"['doa', 'rezeki', 'putus', 'inna', 'larizquna'...",doa rezeki putus inna larizquna lahu min fades...
3,1,"['terima', 'kasih', 'loh', 'entar', 'hasil', '...",terima kasih loh entar hasil sisa
4,-1,"['faham', 'jenis', 'orang', 'malaysia', 'ret',...",faham jenis orang malaysia ret nak sangkut hos...

In [ ]:
import ast

def converter(df):
  token = ast.literal_eval(df)
  return [i for i in token]

df1['tokens'] = df1['tokens'].apply(converter)
df1.head()

,label,tokens,cleantext
0,-1,"[lagu, bosan, save, huhuhuhuhuhuhuhuhuhuuuuuuu...",lagu bosan save huhuhuhuhuhuhuhuhuhuuuuuuuuuuuuuu
1,-1,"[diam, kau, erti, saman, libat, hati]",diam kau erti saman libat hati
2,1,"[doa, rezeki, putus, inna, larizquna, lahu, mi...",doa rezeki putus inna larizquna lahu min fades...
3,1,"[terima, kasih, loh, entar, hasil, sisa]",terima kasih loh entar hasil sisa
4,-1,"[faham, jenis, orang, malaysia, ret, nak, sang...",faham jenis orang malaysia ret nak sangkut hos...

In [ ]:
import nltk 
from nltk import word_tokenize
from nltk.util import ngrams
def bigram(df):
  return list(ngrams(df.tokens, 2))
df1['tokens2'] = df1.apply(bigram, axis=1)
df1.head()

,label,tokens,cleantext,tokens2
0,-1,"[lagu, bosan, save, huhuhuhuhuhuhuhuhuhuuuuuuu...",lagu bosan save huhuhuhuhuhuhuhuhuhuuuuuuuuuuuuuu,"[(lagu, bosan), (bosan, save), (save, huhuhuhu..."
1,-1,"[diam, kau, erti, saman, libat, hati]",diam kau erti saman libat hati,"[(diam, kau), (kau, erti), (erti, saman), (sam..."
2,1,"[doa, rezeki, putus, inna, larizquna, lahu, mi...",doa rezeki putus inna larizquna lahu min fades...,"[(doa, rezeki), (rezeki, putus), (putus, inna)..."
3,1,"[terima, kasih, loh, entar, hasil, sisa]",terima kasih loh entar hasil sisa,"[(terima, kasih), (kasih, loh), (loh, entar), ..."
4,-1,"[faham, jenis, orang, malaysia, ret, nak, sang...",faham jenis orang malaysia ret nak sangkut hos...,"[(faham, jenis), (jenis, orang), (orang, malay..."

In [ ]:
def biword(df):
  alist = []
  for bigram in df.tokens2:
    x = "%s %s" % bigram
    alist.append(x)
  return alist

df1['tokens22'] = df1.apply(biword, axis=1)
df1.head()

,label,tokens,cleantext,tokens2,tokens22
0,-1,"[lagu, bosan, save, huhuhuhuhuhuhuhuhuhuuuuuuu...",lagu bosan save huhuhuhuhuhuhuhuhuhuuuuuuuuuuuuuu,"[(lagu, bosan), (bosan, save), (save, huhuhuhu...","[lagu bosan, bosan save, save huhuhuhuhuhuhuhu..."
1,-1,"[diam, kau, erti, saman, libat, hati]",diam kau erti saman libat hati,"[(diam, kau), (kau, erti), (erti, saman), (sam...","[diam kau, kau erti, erti saman, saman libat, ..."
2,1,"[doa, rezeki, putus, inna, larizquna, lahu, mi...",doa rezeki putus inna larizquna lahu min fades...,"[(doa, rezeki), (rezeki, putus), (putus, inna)...","[doa rezeki, rezeki putus, putus inna, inna la..."
3,1,"[terima, kasih, loh, entar, hasil, sisa]",terima kasih loh entar hasil sisa,"[(terima, kasih), (kasih, loh), (loh, entar), ...","[terima kasih, kasih loh, loh entar, entar has..."
4,-1,"[faham, jenis, orang, malaysia, ret, nak, sang...",faham jenis orang malaysia ret nak sangkut hos...,"[(faham, jenis), (jenis, orang), (orang, malay...","[faham jenis, jenis orang, orang malaysia, mal..."

In [ ]:
for a in df1:
  tokens12 = df1.tokens + df1.tokens22
df1 = df1.merge(tokens12.to_frame('tokens12'), left_index=True, right_index=True)

In [ ]:
df1.tokens12[1]

['diam',
 'kau',
 'erti',
 'saman',
 'libat',
 'hati',
 'diam kau',
 'kau erti',
 'erti saman',
 'saman libat',
 'libat hati']

In [ ]:
neg = dict(zip(neg_dict['stemdict'],neg_dict['weight']))
pos = dict(zip(pos_dict['stemdict'],pos_dict['weight']))
new = dict(new_dict.values)

In [ ]:
#trying to make a unlisted terms
posneg = {**pos,**neg}
listlib = list(posneg.keys())

In [ ]:
#del df1['label']
#del df1['score']

def polarity(df):
  tweet_score = 0
  
  for term in df.tokens12:
    for word, weight in pos.items():
      if term == word:
        tweet_score += weight

  for term in df.tokens12:
    for word, weight in neg.items():
      if term == word:
        tweet_score += weight

  return int(tweet_score)

def label(df):
    if df.score >= 0:
      return int(1)
    else:
      return int(-1)
    

df1['score'] = df1.apply(polarity, axis=1)
df1['label'] = df1.apply(label, axis=1)

In [ ]:
#FOR UNLISTED-WORD MAKING ONLY. make all tokens to dataframe
all_tokens = df1.tokens.explode()
allwordlist = all_tokens.value_counts().reset_index()
allwordlist.columns = ['Word', 'Frequency']
allwordlist

          Word  Frequency
0        orang       1057
1          nak        597
2          deh        432
3          kau        428
4         kalo        426
...        ...        ...
15557    gamak          1
15558    cekup          1
15559   tatcha          1
15560   mangan          1
15561  botkece          1

[15562 rows x 2 columns]

In [ ]:
type(allwordlist)

pandas.core.frame.DataFrame

In [ ]:
allwordlisted = allwordlist['Word'].tolist()

In [ ]:
allwordlist.to_csv('randomtokens12.csv', sep=';', index=False)

In [ ]:
unlisted = [x for x in allwordlisted if x not in listlib]
unlisted_terms = pd.DataFrame(unlisted)
unlisted_terms.columns = ['term']
unlisted_terms.to_csv('unlisted_terms.csv', index=False)

In [ ]:
df1.value_counts(['label'])

label
 0       4619
-1       2481
 1       2275
dtype: int64

In [ ]:
df2= df1[df1['label']!=0]

In [ ]:
df2.shape

(4756, 2)

In [ ]:
df2.to_csv('random labeled.csv', sep=';', index=False, encoding= 'utf-8')

In [ ]:
df1.to_csv('labeled 6142.csv', sep=';', index=False, encoding= 'utf-8')